@media only screen and (max-width: 768px) {
    .article_size a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #000000;
        background: #FFFFFF;
        border-radius: 14px;
        padding: 5px 5px 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        max-width: 143px;
    }
}
@media only screen and (max-width: 428px) {

}
@media only screen and (max-width: 320px) {

}