@media only screen and (max-width: 768px) {
    .article_size a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #000000;
        background: #FFFFFF;
        border-radius: 14px;
        padding: 5px 5px 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        max-width: 143px;
    }
}
@media only screen and (max-width: 767px) {

    header .container{
        display: block;
    }
.nav-but-wrap{
    display: inline-block;
}
.nav__list-item{
    opacity: 0;
}
.nav__list{
    display: inline-block;
}
.nav {
    display: block;
    right: 0;
    left: 0;
    top: 0;
}
    body.nav-active .nav:after{
        top: 0;
        right: 0;
        left: 0;
        background-color: #181818;
    }
.nav ul{
    display: block;
}
.nav__list-item{
        opacity: 0;
    }
    .nav__content{
        position: fixed;
        visibility: hidden;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        margin-top: 20px;
    }
}
@media only screen and (max-width: 320px) {

}